.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(bottom, hsl(240,73%,65%), hsl(273,75%,66%));
}

.main {
  display: flex;
  align-items: center;
  height: 30rem;
  width: 55rem;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute; 
  z-index: 1;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.box {
  position: absolute;
  z-index: 3;
  left: -8rem;
  top: 12.5rem;
}

.imagesection {
  position: absolute;
  display: flex;
  align-items: center;
  height: 30rem;
  width: 50%;
  z-index: 2;
  overflow: hidden;
}

.questionsection {
  left: 50%;
  position: absolute;
  display: flex;
  height: 30rem;
  width: 50%;
  z-index: 2;
  float: right;
  flex-direction: column;
  overflow: hidden;
}

.lines {
  position: absolute;
  left: -37.5rem;
  top: -20rem;
  /* width: 120%; */
}

.mobileline {
  display: none;
}

.woman {
  position: absolute;
  left: -5rem;
  width: 100%;
}

.mobilewoman {
  display: none;
}

.faqheading {
  position: absoulte;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3ch;
  color: hsl(237,12%,37%);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media (max-width: 868px){
  .main {
    width: 45rem;
  }

  .woman {
    left: -4rem;
  }

  .lines {
    left: -42rem;
  }

  .box {
    left: -6rem;
    top: 13rem;
    height: 30%;
  }
}

@media (max-width: 468px){
  .container {
    height: 150vh;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .imagesection {
    width: 100%;
  }

  .questionsection {
    left: 0;
    top: 7rem;
    width: 100%;
  }

  .box, .lines, .woman {
    display: none;
  }

  .mobilewoman {
    display: flex;
    position: absolute;
    z-index: 4;
    left: -1rem;
    top: -8.5rem;
    width: 100%;
  }

  .mobileline {
    position: absolute;
    display: flex;
    z-index: 3;
    top: -0.5rem;
    width: 100%;
  }

  .faqheading {
    display: flex;
    justify-content:center;
  }
}