.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(bottom, hsl(273,75%,66%), hsl(240,73%,65%));
}

.main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 30rem;
  width: 55rem;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute; 
  z-index: 1;
  overflow: hidden;
}

.imagesection {
  position: absolute;
  display: flex;
  align-items: center;
  height: 30rem;
  width: 50%;
  z-index: 2;
}

.questionsection {
  left: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  height: 30rem;
  width: 50%;
  z-index: 2;
  float: right;
}

.lines {
  position: absolute;
  left: -37.5rem;
  top: -20rem;
  /* width: 120%; */
}

.woman {
  position: absolute;
  left: -5rem;
  width: 100%;
}